.home_tab{
    --color: #ffffff;
    --color-selected: #FFC961;
    --color-focused: #fde38b;
    --ripple-color: #fcffcb;
  }

.home_bar{
    --background: #00000000;
    background-image: linear-gradient(90deg,#F14253,#D82B5F);
    --border: #00000000;
}

.logo_eats_header{
    font-size: 55px;
}

.search_bar_eats{
    --border-radius: 0;
    --box-shadow: none;
    padding: 0px !important;
    margin: 0px;
}

ion-card {
    border-radius: 25px;
    --background : #ffffff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

ion-button {
    float: right;
}

.title_eats {
    font-weight: bold;
    font-size: 30px;
}


.pedido_recibido {
    border-radius: 25px;
    --background : #ffffff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.pedido_camino {
    border-radius: 25px;
    --background : #ffffff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border:3px solid #F14253;
}


.pedido_entregado {
    border-radius: 25px;
    --background : #ffe2e2;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border:3px solid #F14253;
}
